@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  height: 100vh;
  background: radial-gradient(circle at top, #2c3e50, #0b1320);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.app {
  width: 1150px;
  height: 680px;
  background: rgba(15, 23, 36, 0.9);
  backdrop-filter: blur(20px);
  border-radius: 24px;
  display: flex;
  box-shadow: 0 40px 80px rgba(0,0,0,0.6);
}

/* SIDEBAR */
.sidebar {
  width: 90px;
  background: rgba(255,255,255,0.03);
  border-radius: 24px 0 0 24px;
  padding-top: 20px;
  text-align: center;
}

.logo {
  font-size: 26px;
}

.sidebar ul {
  list-style: none;
  margin-top: 60px;
}

.sidebar li {
  margin: 22px 0;
  opacity: 0.5;
  cursor: pointer;
}

.sidebar li.active {
  opacity: 1;
}

/* MAIN CONTENT */
.content {
  flex: 1;
  padding: 32px;
}

#search {
  width: 100%;
  padding: 14px 18px;
  border-radius: 14px;
  border: none;
  background: rgba(255,255,255,0.06);
  color: white;
  outline: none;
  margin-bottom: 25px;
}

/* CURRENT WEATHER */
.current {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.current h1 {
  font-size: 42px;
  font-weight: 700;
}

.current h2 {
  font-size: 50px;
}

.current img {
  width: 140px;
}

/* CARDS */
.hourly, .details, .weekly {
  margin-top: 24px;
  background: rgba(255,255,255,0.05);
  border-radius: 20px;
  padding: 22px;
}

.hourly h3,
.weekly h3 {
  margin-bottom: 14px;
}

/* HOURLY */
#hours {
  display: flex;
  gap: 16px;
}

.hour {
  width: 90px;
  background: rgba(255,255,255,0.08);
  border-radius: 16px;
  padding: 12px;
  text-align: center;
  transition: 0.3s;
}

.hour:hover {
  transform: translateY(-5px);
}

.hour img {
  width: 42px;
}

/* DETAILS */
.details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 14px;
}

.details span {
  font-size: 20px;
  font-weight: 600;
}

/* WEEKLY */
#week {
  display: flex;
  gap: 14px;
}

.day {
  width: 90px;
  background: rgba(255,255,255,0.08);
  border-radius: 16px;
  padding: 12px;
  text-align: center;
}

.day img {
  width: 40px;
}
